#
# Copyright (c) 2019 Peter Bigot Consulting, LLC
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig SENSPLE_SDP8XX
	bool "SDP8XX Differential Pressure and Temperature Sensors"
	depends on I2C
	help
	  Enable sensple driver for SDP800/SDP810 differential pressure
	  sensors.
