# Copyright (c) 2020 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config VCBPRINTF_64BIT_SUPPORT
	bool "Enable 64-bit formatting" if !64BIT
	default y
	help
	  Build the sys_vcbprintf utility function with support for the 64-bit
	  formatting.  This will increase code size on systems with 32-bit
	  long integers.

	  If not selected conversions with the ll length modifier will not be
	  generated.

config VCBPRINTF_FP_SUPPORT
	bool "Enable floating point formatting in sys_vcbprintf"
	default y # if SHELL
	help
	  Build the sys_vcbprintf utility function with support for
	  floating point format specifiers.

config VCBPRINTF_ALT_FORM
	bool "Support the alternative form (#) specifier flag"
	default y
	help
	  If selected using %#x will prefix the hex value with 0x; and
	  other conversions will use their alternative form.

config VCBPRINTF_FULL_WIDTH
	bool "Use full representation for the width and precision lengths"
	help
	  The formatting process can require up to six values related
	  to width and precision of formatted values.  By default it
	  is assumed that no value will exceed 255.  Select this
	  option if larger formatted lengths are required.

config VCBPRINTF_N_SPECIFIER
	bool "Support %n specifications"
	default y
	help
	  If selected %n can be used to determine the number of
	  characters emitted.

#define CONFIG_ 1
