/*
 * Copyright (c) 2018 Peter Bigot Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	as3935: as3935@3 {
		compatible = "sensirion,as3935";
		reg = <3>;
		label = "SDP810";
	};
};
