#
# Copyright (c) 2018 Peter Bigot Consulting, LLC
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig SHT21
	bool "SHT21 Temperature and Humidity Sensor"
	depends on I2C
	help
	  Enable driver for SHT21 temperature and humidity sensors.

if SHT3XD

endif # SHT3XD
